{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row my-5">
            <div class="col">
                <h1>Contact</h1>
                <p>Vous souhaiter nous parler d'un projet n'hésitez pas</p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <i class="fas fa-phone"></i>
                06.12.34.56.78
            </div>
            <div class="col">
                <i class="fas fa-envelope-square"></i>
                bogdancs@gmail.com
            </div>
        </div>
    </div>
{% endblock %}
